@model WebUI.Models.EditEmployersModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{@Html.ValidationSummary()
<div>
    @*<label>Имя</label>*@
    @Html.TextBoxFor(m => m.Employee.EmployeeId, new { @type = "hidden" })
</div>

<div>
    <label>Имя</label>
    @Html.TextBoxFor(m => m.Employee.FirstName, new { @class = "form-control" })
</div>
<div>
    <label>Отчество</label>
    @Html.TextBoxFor(m => m.Employee.MiddleName, new { @class = "form-control" })
</div>
<div>
    <label>Фамилия</label>
    @Html.TextBoxFor(m => m.Employee.LastName, new { @class = "form-control" })
</div>
<div>
    <label>Email</label>
    @Html.TextBoxFor(m => m.Employee.Email, new { @class = "form-control" })
</div>

<div>
    <label>подразделение</label>
    @Html.DropDownListFor(n => n.DepId ,
    new SelectList(Model.Departments, "DepartmentId", "DepartmentTitle"),Model.Employee.Department.DepartmentTitle,
     new { @class = "form-control" })
</div>

<input class="btn btn-danger" type="submit" value="сохранить" />
@Html.ActionLink("вернуться к списку сотрудников без сохранения",
                "Index", "Home", null, new { @class = "btn btn-primary" })
}
