@using Domain
@model Employee




@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{@Html.ValidationSummary()
<div>
    
    @Html.TextBoxFor(m => m.EmployeeId, new { @type = "hidden" })
</div>

<div>
    <label>Имя</label>
    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
</div>
<div>
    <label>Отчество</label>
    @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
</div>
<div>
    <label>Фамилия</label>
    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
</div>
<div>
    <label>Email</label>
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", })
</div>


<div>
    <label>организация</label>
    @Html.DropDownListFor(x=>x.Department.Organization.OrganizationID,
                     new SelectList(ViewBag.Org, "OrganizationId", "OrganizationTitle"),

                      new { @class = "form-control", id = "org" })
</div>

@Html.TextBoxFor(m => m.Department.DepartmentTitle, new { @type = "hidden" })

@Html.TextBoxFor(m => m.Department.Organization.OrganizationTitle, new { @type = "hidden" })



<div>
    <label>подразделение</label>
    @Html.DropDownListFor(x => x.Department.DepartmentId,
                    new SelectList(ViewBag.Dep, "DepartmentId", "DepartmentTitle"),
                     new { @class = "form-control", id = "dep" })
</div>

<input class="btn btn-danger" type="submit" value="сохранить" />
@Html.ActionLink("вернуться к списку сотрудников без сохранения",
                "Index", "Home", null, new { @class = "btn btn-primary" })
}

<script type="text/javascript">
    $(function () {

        $('#org').change(function () {
            // получаем выбранный id
            var orgId = $(this).val();


            $.ajax({
                type: 'Get',
                url: '@Url.Action("GetDepartments", new { orgId = 0 })' + orgId ,
               
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#dep').replaceWith(data);
                }
            });
        });
    })
</script>

