@model WebUI.Models.SearchModel

@{
     ViewBag.Title = "Index";
}

<h2>Список сотрудников</h2>
<nav aria-label="Page navigation">
    <ul class="pagination">  
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li><a class=
                   @(ViewBag.p == i ? "btn btn-primary" : "btn-default")  href="http://localhost:55182/Home/Index/page @i">@i</a></li>
        }
    </ul>
</nav>

@using (Html.BeginForm())
 { 
    <div>
        <label>Поиск сотрудника:</label>
        @Html.TextBoxFor( m =>m.SearchI , new { @class = "form-control" })
    </div>
<input type="submit" value="Search" class="btn btn-primary" />
 }


<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Фамилия</th>
                <th>Email</th>
                <th>Название подразделения</th>
                <th>Название организации</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employes)
             {
            <tr>
                <td>@item.FirstName </td>
                <td>@item.MiddleName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Department.DepartmentTitle</td>
                <td>@item.Department.Organization.OrganizationTitle</td>
                <td>@Html.ActionLink("редактировать", "Edit", "Redactor", 
                   new {EmployeeId= item.EmployeeId, },
                   new { @class = "btn btn-warning" })</td>
            </tr>
             }

        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Добавить сотрудника", "Edit", "Redactor",
                       new { EmployeeId = 0, }, 
                       new { @class = "btn btn-warning" })
    @Html.ActionLink("посмотреть историю изменений","ShowLog","Home",
    null,new { @class="btn btn-success"}) 
</div>


