@using Domain
@model IEnumerable<Log>

@{
    ViewBag.Title = "ShowLog";   
}

<h2>Список изменений</h2>

<nav aria-label="Page navigation">
    <ul class="pagination">

        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li>
                <a class=@(ViewBag.p == i ? "btn btn-primary" : "btn-default") href="http://localhost:55182/Home/ShowLog/page @i">@i</a>
            </li>
        }


    </ul>
</nav>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>дата</th>
                <th>тип изменения</th>
                <th>изменения</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.dateTime</td>
                    <td>@item.LogType.Type</td>
                    <td>
                      @($"{item.FirstName} {item.MiddleName} {item.LastName}, {item.Email}, {item.Organization}, {item.Department}")
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>
<div>
    @Html.ActionLink("вернуться на главную","Index",null,new { @class="btn btn-primary"})
</div>


